.com {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid;
}

.title {
  display: flex;
}

.week {
  width: calc(500 / 7) px;
  height: 20px;
  display: flex;
}

.weekday {
  width: calc(500 / 7) px;
  height: 20px;
  display: flex;
}
